.result-container {
  display: grid;
  background-color: white;
  grid-gap: 10px;
  padding: 10px;
}
@media only screen and (max-width: 576px) {
  .result-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .result-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .result-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .result-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1201px) {
  .result-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.result-container > div {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  .result-container > div {
    height: 50vh;
    width: 80vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .result-container > div {
    height: 50vh;
    width: 80vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .result-container > div {
    height: 40vh;
    width: 40vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .result-container > div {
    height: 40vh;
    width: 40vw;
  }
}
@media only screen and (min-width: 1201px) {
  .result-container > div {
    height: 50vh;
    width: 30vw;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  grid-gap: 10vh;
  padding: 10vh;
}

.form-container > button {
  display: flex;
  background-color: green;
  grid-gap: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
}

.button {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 5vh;
  margin-bottom: 10vh;
}

.result {
  padding: 0px;
  margin: 0px;
  margin-bottom: 1vh;
}
.result__title {
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 2vh;
}
.result__author {
  justify-content: center;
  height: auto;
  font-size: 1.5vh;
}
.result__description {
  justify-content: center;
  height: auto;
  font-size: 2vh;
  padding: 3vh;
  margin: 0px;
}

.image {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}
