@use "./Partials/devices";

.result-container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-gap: 10px;
    padding: 10px;

    @include devices.phone {
        grid-template-columns: 1fr;
    }
    @include devices.tablet {
        grid-template-columns: 1fr;
    }

    @include devices.tablet-landscape {
        grid-template-columns: 1fr 1fr;
    }

    @include devices.laptop {
        grid-template-columns: 1fr 1fr;
    }

    @include devices.largest {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.result-container > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    justify-content: center;

    @include devices.phone {
        height: 50vh;
        width: 80vw;
    }
    @include devices.tablet {
        height: 50vh;
        width: 80vw;
    }

    @include devices.tablet-landscape {
        height: 40vh;
        width: 40vw;
    }

    @include devices.laptop {
        height: 40vh;
        width: 40vw;
    }

    @include devices.largest {
        height: 50vh;
        width: 30vw;
    }
}

.form-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: grey;
    grid-gap: 1vh;
    padding: 1vh;
    font-size: 3vh;
    height: 13vh;
    color: black;
}

input {
    width: 20vw;
}

h3 {
    font-size: 1.5vh;
}

.form-container > button {
    display: flex;
    background-color: green;
    grid-gap: 1vh;
    padding: 1vh;
    width: 1vw;
    height: 10vw;
}

.button {
    font-size: 20vh;
    width: 200vw;
}

.result {
    padding: 0px;
    margin: 0px;
    margin-bottom: 1vh;

    &__title {
        justify-content: center;
        align-items: center;
        height: auto;
        font-size: 2vh;
    }

    &__author {
        justify-content: center;

        height: auto;
        font-size: 1.5vh;
    }

    &__description {
        justify-content: center;
        height: auto;
        font-size: 2vh;
        padding: 3vh;
        margin: 0px;
    }
}

.image {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    // max-height: 90vh;
    // max-width: 50vw;

    // @include devices.phone {
    //     max-height: 50%;
    //     max-width: 50%;
    // }
    // @include devices.tablet {
    //     max-height: 40%;
    //     max-width: 40%;
    // }

    // @include devices.tablet-landscape {
    //     max-height: 50%;
    //     max-width: 50%;
    // }

    // @include devices.laptop {
    //     max-height: 50%;
    //     max-width: 50%;
    // }

    // @include devices.largest {
    //     max-height: 50%;
    //     max-width: 50%;
    // }
}
