.result-container {
  display: grid;
  background-color: blue;
  grid-gap: 10px;
  padding: 10px;
}
@media only screen and (max-width: 576px) {
  .result-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .result-container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .result-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .result-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1201px) {
  .result-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.result-container > div {
  background-color: lightblue;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .result-container > div {
    height: 50vh;
    width: 80vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .result-container > div {
    height: 50vh;
    width: 80vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .result-container > div {
    height: 40vh;
    width: 40vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .result-container > div {
    height: 40vh;
    width: 40vw;
  }
}
@media only screen and (min-width: 1201px) {
  .result-container > div {
    height: 50vh;
    width: 30vw;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: red;
  grid-gap: 10px;
  padding: 10px;
}

.form-container > button {
  display: flex;
  background-color: green;
  grid-gap: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
}

.button {
  font-size: 20px;
  padding: 20xp;
  margin: 20px;
}

.result__title {
  font-size: 2vh;
}
.result__author {
  font-size: 1.5vh;
}
.result__description {
  font-size: 1vh;
  padding: 0px;
  margin: 0px;
}

.image {
  height: auto;
  width: auto;
  margin: 2vh;
}
@media only screen and (max-width: 576px) {
  .image {
    max-height: 30vh;
    max-width: 20vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .image {
    max-height: 30vh;
    max-width: 20vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .image {
    max-height: 20vh;
    max-width: 20vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .image {
    max-height: 30vh;
    max-width: 20vw;
  }
}
@media only screen and (min-width: 1201px) {
  .image {
    max-height: 30vh;
    max-width: 20vw;
  }
}
