@use "./Partials/devices";

.result-container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;
    grid-gap: 10px;
    padding: 10px;

    @include devices.phone {
        grid-template-columns: 1fr;
    }
    @include devices.tablet {
        grid-template-columns: 1fr;
    }

    @include devices.tablet-landscape {
        grid-template-columns: 1fr 1fr;
    }

    @include devices.laptop {
        grid-template-columns: 1fr 1fr;
    }

    @include devices.largest {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.result-container > div {
    background-color: lightblue;
    text-align: center;

    @include devices.phone {
        height: 50vh;
        width: 80vw;
    }
    @include devices.tablet {
        height: 50vh;
        width: 80vw;
    }

    @include devices.tablet-landscape {
        height: 40vh;
        width: 40vw;
    }

    @include devices.laptop {
        height: 40vh;
        width: 40vw;
    }

    @include devices.largest {
        height: 50vh;
        width: 30vw;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    grid-gap: 10px;
    padding: 10px;
}

.form-container > button {
    display: flex;
    background-color: green;
    grid-gap: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.button {
    font-size: 20px;
    padding: 20xp;
    margin: 20px;
}

.result {
    &__title {
        font-size: 2vh;
    }

    &__author {
        font-size: 1.5vh;
    }

    &__description {
        font-size: 1vh;
        padding: 0px;
        margin: 0px;
    }
}

.image {
    height: auto;
    width: auto;
    // max-height: 90vh;
    // max-width: 50vw;
    margin: 2vh;

    @include devices.phone {
        max-height: 30vh;
        max-width: 20vw;
    }
    @include devices.tablet {
        max-height: 30vh;
        max-width: 20vw;
    }

    @include devices.tablet-landscape {
        max-height: 20vh;
        max-width: 20vw;    }

    @include devices.laptop {
        max-height: 30vh;
        max-width: 20vw;    }

    @include devices.largest {
        max-height: 30vh;
        max-width: 20vw;    }
}
